# Server
PORT=3000
NODE_ENV=development

# Database
MONGO_URI=your_mongodb_connection_string

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d

# Client URL
CLIENT_URL=http://localhost:5173

# Google Drive API
GOOGLE_DRIVE_CREDENTIALS_PATH=./credentials/agritrack-driveintegration.json
GOOGLE_DRIVE_FOLDER_ID=your_folder_id

# Mailtrap
MAILTRAP_API_TOKEN=your_mailtrap_token
MAILTRAP_SENDER_EMAIL=your_sender_email

# Semaphore SMS
SEMAPHORE_API_KEY=your_semaphore_api_key
SEMAPHORE_SENDER_NAME=your_sender_name

# Encryption
SECRET_KEY=your_encryption_key_32_chars